<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zj.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="zj.entity.UserEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="enable" jdbcType="BIT" property="enable"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="updater" jdbcType="VARCHAR" property="updater"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `user_name`, `password`, `real_name`, `phone`, `email`, `enable`, `ip`, `creator`,
        `updater`, `create_time`, `update_time`
    </sql>

    <insert id="insert" parameterType="zj.entity.UserEntity">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="updater != null">
                updater,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=BIT},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="zj.entity.UserEntity">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=BIT},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user

        ORDER BY id DESC
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="selectOne" parameterType="zj.entity.UserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <include refid="where_for_select"/>
        limit 0,1

    </select>

    <select id="selectList" parameterType="zj.entity.UserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <include refid="where_for_select"/>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="selectCount" parameterType="zj.entity.UserEntity" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM t_user
        <include refid="where_for_select"/>
    </select>

    <sql id="where_for_select">
        <trim prefix="WHERE" prefixOverrides="AND | OR " suffixOverrides=",">
            <if test="userName != null">
                AND `user_name` = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND `password` = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                AND `real_name` = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                AND `phone` = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                AND `email` = #{email,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                AND `enable` = #{enable,jdbcType=BIT}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip,jdbcType=VARCHAR}
            </if>
            <if test="creator != null">
                AND `creator` = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="updater != null">
                AND `updater` = #{updater,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND `update_time` = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>

    <select id="searchOne" parameterType="zj.entity.UserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <include refid="where_for_search"/>
        limit 0,1

    </select>

    <select id="searchList" parameterType="zj.entity.UserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <include refid="where_for_search"/>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="searchCount" parameterType="zj.entity.UserEntity" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM t_user
        <include refid="where_for_search"/>
    </select>

    <sql id="where_for_search">
        <trim prefix="WHERE" prefixOverrides="AND | OR " suffixOverrides=",">
            <if test="userName != null">
                AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                AND real_name = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                AND email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                AND enable = #{enable,jdbcType=BIT}
            </if>
            <if test="ip != null">
                AND ip = #{ip,jdbcType=VARCHAR}
            </if>
            <if test="creator != null">
                AND creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="updater != null">
                AND updater = #{updater,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>


</mapper>