<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] %m%n</Pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/${project.name}.log</File>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>/data/log/${project.name}.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>300MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.mybatis">
        <level value="ERROR"/>
    </logger>
    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>

